openapi: 3.0.0
info:
  title: Tagesordnungen API
  version: 1.0.0
servers:
  - url: https://api.hutt.io/
paths:
  /bt-to/csv:
    get:
      summary: Get Tagesordnungen in CSV format
      parameters:
        - name: year
          in: query
          description: The year for which to retrieve Tagesordnungen (optional)
          schema:
            type: integer
        - name: week
          in: query
          description: The calendar week for which to retrieve Tagesordnungen (optional; can be combined with year)
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            text/csv:
              schema:
                type: string
  /bt-to/json:
    get:
      summary: Get Tagesordnungen in JSON format
      parameters:
        - name: week
          in: query
          description: The calendar week for which to retrieve Tagesordnungen (optional)
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /bt-to/xml:
    get:
      summary: Get Tagesordnungen in XML format
      parameters:
        - name: year
          in: query
          description: The year for which to retrieve Tagesordnungen (optional)
          schema:
            type: integer
        - name: week
          in: query
          description: The calendar week for which to retrieve Tagesordnungen (optional; can be combined with year)
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                type: string
  /bt-to/ical:
    get:
      summary: Get Tagesordnungen in iCal format
      parameters:
        - name: na
          in: query
          description: Create additional calendar entries for Namentliche Abstimmungen (optional; combinable)
          schema:
            type: boolean
        - name: naAlarm
          in: query
          description: Add alarms 15 minutes before Namentliche Abstimmungen (optional; combinable)
          schema:
            type: boolean
        - name: showSW
          in: query
          description: Create all-day appointments for Sitzungswochen (optional; combinable)
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            text/calendar:
              schema:
                type: string