openapi: 3.0.0
info:
  title: Tagesordnungen API
  version: 1.0.0
servers:
  - url: https://api.hutt.io/
paths:
  /bt-to/csv:
    get:
      summary: Tagesordnungen im CSV-Format abrufen
      parameters:
        - name: year
          in: query
          description: Das Jahr, für das Tagesordnungen abgerufen werden sollen (optional)
          schema:
            type: integer
        - name: week
          in: query
          description: Die Kalenderwoche, für die Tagesordnungen abgerufen werden sollen (optional; kann mit Jahr kombiniert werden)
          schema:
            type: integer
      responses:
        '200':
          description: Erfolgreiche Antwort
          content:
            text/csv:
              schema:
                type: string
  /bt-to/json:
    get:
      summary: Tagesordnungen im JSON-Format abrufen
      parameters:
        - name: week
          in: query
          description: Die Kalenderwoche, für die Tagesordnungen abgerufen werden sollen (optional)
          schema:
            type: integer
      responses:
        '200':
          description: Erfolgreiche Antwort
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /bt-to/xml:
    get:
      summary: Tagesordnungen im XML-Format abrufen
      parameters:
        - name: year
          in: query
          description: Das Jahr, für das Tagesordnungen abgerufen werden sollen (optional)
          schema:
            type: integer
        - name: week
          in: query
          description: Die Kalenderwoche, für die Tagesordnungen abgerufen werden sollen (optional; kann mit Jahr kombiniert werden)
          schema:
            type: integer
      responses:
        '200':
          description: Erfolgreiche Antwort
          content:
            application/xml:
              schema:
                type: string
  /bt-to/ical:
    get:
      summary: Tagesordnungen im iCal-Format abrufen
      parameters:
        - name: na
          in: query
          description: Zusätzliche Kalendereinträge für Namentliche Abstimmungen erstellen (optional; kombinierbar)
          schema:
            type: boolean
        - name: naAlarm
          in: query
          description: Alarme 15 Minuten vor Namentlichen Abstimmungen hinzufügen (optional; kombinierbar)
          schema:
            type: boolean
        - name: showSW
          in: query
          description: Ganztägige Termine für Sitzungswochen erstellen (optional; kombinierbar)
          schema:
            type: boolean
      responses:
        '200':
          description: Erfolgreiche Antwort
          content:
            text/calendar:
              schema:
                type: string

